@model SpongeCityAsses.Model.ReportModel
<script>
    function SetWinHeight(obj)
    {
        var win = obj;
        if (document.getElementById)
        {
            if (win && !window.opera)
            {
                if (win.contentDocument && win.contentDocument.body.offsetHeight) {
                    win.height = win.contentDocument.body.offsetHeight;

                }
                else if(win.Document && win.Document.body.scrollHeight){
                    win.height = win.Document.body.scrollHeight;
                }
            }
        }
    }
</script>
@if (Model != null)
{
    <h2>@Model.DisplayName</h2>
    if (!string.IsNullOrEmpty(Model.ReportUrl))
    {
        <iframe src="~/Report/@Model.ReportUrl" style="border:none; width:100%" scrolling="no" onload="Javascript:SetWinHeight(this)"></iframe>
    }
}
