<div style="width:100%;height:270px; background-color:#fff">
    <div id="auto_chart_1" style="width: 100%; height: 270px; position: relative; background-color: #fff;"></div>
</div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        myChart_auto_chart_1 = echarts.init(document.getElementById('auto_chart_1'));

        // 指定图表的配置项和数据
        var option = {
    title : {
        text : ' ',
    },
    tooltip : {
        trigger: 'axis',
        formatter : function (params) {
            if(params[0]==null){
                return (params.data[0].cast);
            }
			output = params[0].name + '<br/>';
			for(var i=0;i<params.length;i++){
	 			output += params[i].seriesName + " : " + params[i].value[0] + params[i].value[2] +'<br/>';
	 		}
			return output;
        }
    },

    legend : {
        data : ['2014年度','2015年度',],
        top : 20 ,

    },
    yAxis : [
        {
            type : 'category',
            data : ['岸线长度','物种丰富度',],

        },
    ],
    xAxis : [
        {
            type : 'value' ,
            name : ' ' ,
            axisLabel: {
            	formatter : '{value} '
            },

        },

    ],
    series : [{
            name: '2014年度',
            type: 'bar',
            data: [[0.6,0,'km'],[5,1,'种'],],
        },{
            name: '2015年度',
            type: 'bar',
            data: [[10,0,'km'],[18,1,'种'],],
        },]
};


        // 使用刚指定的配置项和数据显示图表。
        myChart_auto_chart_1.setOption(option);
        myChart_auto_chart_1.group = 'none_connect';
</script>