<div style="width:100%;height:270px; background-color:#fff">
    <div id="auto_chart_0" style="width: 100%; height: 270px; position: relative; background-color: #fff;"></div>
</div>

<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        myChart_auto_chart_0 = echarts.init(document.getElementById('auto_chart_0'));

        // 指定图表的配置项和数据
        var option = {
    title : {
        text : ' ',
    },
    tooltip : {
        trigger: 'axis',
        formatter : function (params) {
            if(params[0]==null){
                return (params.data[0].cast);
            }
			output = params[0].name + '<br/>';
			for(var i=0;i<params.length;i++){
	 			output += params[i].seriesName + " : " + params[i].value[1] + params[i].value[2] +'<br/>';
	 		}
			return output;
        }
    },
    dataZoom: {
        show: true,
        start : 0,
        orient : 'horizontal'
    },
    legend : {
        data : ['SS削减率','COD削减率','氨氮削减率','TN削减率','TP削减率',],
        top : 20 ,

    },
    xAxis : [
        {
            type : 'category',
            data : ['2015/04/01','2015/04/01','2015/04/01','2015/04/01','2015/04/01','2015/04/01','2015/04/01','2015/04/01','2015/04/01','2015/04/01','2015/08/02','2015/08/02','2015/08/02','2015/08/02','2015/08/02','2015/08/02','2015/08/02','2015/08/02','2015/08/02','2015/09/03','2015/09/03','2015/09/03','2015/09/03','2015/09/03','2015/09/03','2015/09/03','2015/09/03','2015/09/11','2015/09/11','2015/09/11','2015/09/11','2015/09/11','2015/09/11','2015/09/11','2015/09/11','2015/09/11','2015/09/11',],

        },
    ],
    yAxis : [
        {
            type : 'value' ,
            name : '削减率(%)' ,
            axisLabel: {
            	formatter : '{value} '
            },

        },

    ],
    series : [{
            name: 'SS削减率',
            type: 'bar',
            data: [[0,468.56,'%'],[1,340.05,'%'],[2,501.08,'%'],[3,585.34,'%'],[4,429.95,'%'],[5,419.61,'%'],[6,198.83,'%'],[7,279.36,'%'],[8,193.17,'%'],[9,76.83,'%'],[10,906.99,'%'],[11,867.44,'%'],[12,863.73,'%'],[13,799.75,'%'],[14,603.14,'%'],[15,1392.5,'%'],[16,584.76,'%'],[17,455.65,'%'],[18,572.51,'%'],[19,641.37,'%'],[20,728.58,'%'],[21,782.07,'%'],[22,563.65,'%'],[23,387.49,'%'],[24,288.14,'%'],[25,139.96,'%'],[26,87.66,'%'],[27,1372.92,'%'],[28,918.42,'%'],[29,712.05,'%'],[30,594.48,'%'],[31,418.16,'%'],[32,395.72,'%'],[33,444.69,'%'],[34,689.39,'%'],[35,930.24,'%'],[36,943.62,'%'],],
        },{
            name: 'COD削减率',
            type: 'bar',
            data: [[0,330.52,'%'],[1,161.18,'%'],[2,219.5,'%'],[3,198.72,'%'],[4,143.48,'%'],[5,166.77,'%'],[6,153.03,'%'],[7,186.88,'%'],[8,245.58,'%'],[9,207.91,'%'],[10,439.1,'%'],[11,461.8,'%'],[12,348.98,'%'],[13,340.33,'%'],[14,288.77,'%'],[15,301.69,'%'],[16,240,'%'],[17,228.66,'%'],[18,195.07,'%'],[19,241.26,'%'],[20,296.63,'%'],[21,316.78,'%'],[22,462.52,'%'],[23,321.95,'%'],[24,280.73,'%'],[25,262.66,'%'],[26,131.9,'%'],[27,589.45,'%'],[28,387.1,'%'],[29,250.35,'%'],[30,199.88,'%'],[31,136.93,'%'],[32,110.54,'%'],[33,190,'%'],[34,356.71,'%'],[35,425.37,'%'],[36,691.59,'%'],],
        },{
            name: '氨氮削减率',
            type: 'bar',
            data: [[0,1.39,'%'],[1,1.27,'%'],[2,2.8,'%'],[3,0.16,'%'],[4,0.62,'%'],[5,0.87,'%'],[6,1.15,'%'],[7,5.78,'%'],[8,1.33,'%'],[9,0.82,'%'],[10,3.53,'%'],[11,6.14,'%'],[12,2.49,'%'],[13,2.94,'%'],[14,1.38,'%'],[15,1.88,'%'],[16,1.17,'%'],[17,1.28,'%'],[18,1.21,'%'],[19,0.69,'%'],[20,0.7,'%'],[21,0.68,'%'],[22,0.63,'%'],[23,0.55,'%'],[24,0.26,'%'],[25,0.25,'%'],[26,0.14,'%'],[27,4.01,'%'],[28,3.03,'%'],[29,2.04,'%'],[30,1.93,'%'],[31,1.57,'%'],[32,1.31,'%'],[33,1.2,'%'],[34,1.09,'%'],[35,0.61,'%'],[36,0.44,'%'],],
        },{
            name: 'TN削减率',
            type: 'bar',
            data: [[0,47.65,'%'],[1,33.4,'%'],[2,21.95,'%'],[3,22.41,'%'],[4,24.75,'%'],[5,23.53,'%'],[6,20.57,'%'],[7,23.13,'%'],[8,19.32,'%'],[9,48.8,'%'],[10,84.37,'%'],[11,111.77,'%'],[12,61.38,'%'],[13,62.29,'%'],[14,38.3,'%'],[15,44.86,'%'],[16,35.79,'%'],[17,25.49,'%'],[18,27.22,'%'],[19,14.77,'%'],[20,14.68,'%'],[21,15.09,'%'],[22,14.25,'%'],[23,16.02,'%'],[24,19.15,'%'],[25,19.58,'%'],[26,19.34,'%'],[27,18.76,'%'],[28,17.47,'%'],[29,17.51,'%'],[30,19.59,'%'],[31,21.09,'%'],[32,24.19,'%'],[33,27.43,'%'],[34,37.72,'%'],[35,51.87,'%'],[36,58.28,'%'],],
        },{
            name: 'TP削减率',
            type: 'bar',
            data: [[0,2.75,'%'],[1,1.78,'%'],[2,2.93,'%'],[3,3.66,'%'],[4,2.22,'%'],[5,1.52,'%'],[6,1.55,'%'],[7,1.42,'%'],[8,1.33,'%'],[9,1,'%'],[10,3.97,'%'],[11,3.61,'%'],[12,2.14,'%'],[13,2.86,'%'],[14,2.33,'%'],[15,5.08,'%'],[16,4.71,'%'],[17,4.76,'%'],[18,4.32,'%'],[19,2.75,'%'],[20,1.78,'%'],[21,2.93,'%'],[22,3.66,'%'],[23,2.22,'%'],[24,1.52,'%'],[25,1.55,'%'],[26,1.42,'%'],[27,1.35,'%'],[28,0.92,'%'],[29,0.93,'%'],[30,0.57,'%'],[31,0.72,'%'],[32,0.29,'%'],[33,0.45,'%'],[34,0.31,'%'],[35,0.12,'%'],[36,0.07,'%'],],
        },]
};


        // 使用刚指定的配置项和数据显示图表。
        myChart_auto_chart_0.setOption(option);
        myChart_auto_chart_0.group = 'none_connect';
</script>