<div style="width:100%;height:270px; background-color:#fff">
    <div id="auto_chart_1" style="width: 100%; height: 270px; position: relative; background-color: #fff;"></div>
</div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    myChart_auto_chart_1 = echarts.init(document.getElementById('auto_chart_1'));
    var axisData = [];
    var rateData = [];
    $.ajax({
        url: "/ActivityData/GetChartData?subCategoryId=@ViewBag.SubCategoryId&viewId=@ViewBag.ViewId&kpiId=@ViewBag.KpiId&categoryId=@ViewBag.CategoryId",
        type: "get",
        async: false,
        dataType: "json",
        data: { "paramS": "3", "rnd": Math.random() },
        success: function (data) {
            axisData = data.XD;
            rateData = data.KD[0];
        },
        error: function (data) {
            alert("Error");
            rtn = false;
        }
    });
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: ' ',
        },
        tooltip: {
            trigger: 'axis',
            //formatter: function (params) {
            //    if (params[0] == null) {
            //        return (params.data[0].cast);
            //    }
            //    output = params[0].name + '<br/>';
            //    for (var i = 0; i < params.length; i++) {
            //        output += params[i].seriesName + " : " + params[i].value[1] + params[i].value[2] + '<br/>';
            //    }
            //    return output;
            //}
        },
        dataZoom: {
            show: true,
            start: 0,
            orient: 'horizontal'
        },
        legend: {
            data: ['径流控制率', ],
            top: 20,

        },
        xAxis: [
            {
                type: 'category',
                data: axisData,

            },
        ],
        yAxis: [
            {
                type: 'value',
                name: '径流控制率(%)',
                axisLabel: {
                    formatter: '{value} '
                },

            },

        ],
        series: [{
            name: '径流控制率',
            type: 'bar',
            data: rateData,
        }, ]
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart_auto_chart_1.setOption(option);
</script>
