<div style="width:100%;height:270px; background-color:#fff">
    <div id="auto_chart_1" style="width: 100%; height: 270px; position: relative; background-color: #fff;"></div>
</div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        myChart_auto_chart_1 = echarts.init(document.getElementById('auto_chart_1'));

        // 指定图表的配置项和数据
        var option = {
    title : {
        text : '上游参数2',
    },
    tooltip : {
        trigger: 'axis',
        formatter : function (params) {
            if(params[0]==null){
                return (params.data[0].cast);
            }
			output = params[0].name + '<br/>';
			for(var i=0;i<params.length;i++){
	 			output += params[i].seriesName + " : " + params[i].value[1] + params[i].value[2] +'<br/>';
	 		}
			return output;
        }
    },
    dataZoom: {
        show: true,
        start : 0,
        orient : 'horizontal'
    },
    legend : {
        data : ['温度','透明度','PH','色度','臭阈值',],
        top : 20 ,

    },
    xAxis : [
        {
            type : 'category',
            data : ['2015/01/17','2015/02/21','2015/03/14','2015/04/18','2015/05/16','2015/06/27','2015/07/18','2015/08/22','2015/09/19','2015/10/17','2015/11/21','2015/12/19','2016/01/16','2016/02/20','2016/03/19','2016/04/23',],

        },
    ],
    yAxis : [
        {
            type : 'value' ,
            name : ' ' ,
            axisLabel: {
            	formatter : '{value} '
            },

        },

    ],
    series : [{
            name: '温度',
            type: 'bar',
            data: [[0,5.6,'℃'],[1,6.88,'℃'],[2,11.87,'℃'],[3,13.77,'℃'],[4,19.12,'℃'],[5,22.96,'℃'],[6,26.64,'℃'],[7,27,'℃'],[8,23.04,'℃'],[9,18.47,'℃'],[10,10.59,'℃'],[11,8.34,'℃'],[12,5.07,'℃'],[13,6.16,'℃'],[14,10.14,'℃'],[15,14.82,'℃'],],
        },{
            name: '透明度',
            type: 'bar',
            data: [[0,6.69,'cm'],[1,14.92,'cm'],[2,17.41,'cm'],[3,20.92,'cm'],[4,15.04,'cm'],[5,16.87,'cm'],[6,7.22,'cm'],[7,19.23,'cm'],[8,10.76,'cm'],[9,20.44,'cm'],[10,15.23,'cm'],[11,19.44,'cm'],[12,18.72,'cm'],[13,18.46,'cm'],[14,11,'cm'],[15,8.18,'cm'],],
        },{
            name: 'PH',
            type: 'bar',
            data: [[0,7.03,' '],[1,7.93,' '],[2,7.07,' '],[3,7.94,' '],[4,7.51,' '],[5,7.41,' '],[6,7.37,' '],[7,7.92,' '],[8,7.21,' '],[9,7.35,' '],[10,7.85,' '],[11,7.54,' '],[12,7.47,' '],[13,7.96,' '],[14,7.06,' '],[15,7.49,' '],],
        },{
            name: '色度',
            type: 'bar',
            data: [[0,0,'度'],[1,0,'度'],[2,0,'度'],[3,0,'度'],[4,0,'度'],[5,0,'度'],[6,0,'度'],[7,0,'度'],[8,0,'度'],[9,0,'度'],[10,0,'度'],[11,0,'度'],[12,0,'度'],[13,0,'度'],[14,0,'度'],[15,0,'度'],],
        },{
            name: '臭阈值',
            type: 'bar',
            data: [[0,0,' '],[1,0,' '],[2,0,' '],[3,0,' '],[4,0,' '],[5,0,' '],[6,0,' '],[7,0,' '],[8,0,' '],[9,0,' '],[10,0,' '],[11,0,' '],[12,0,' '],[13,0,' '],[14,0,' '],[15,0,' '],],
        },]
};


        // 使用刚指定的配置项和数据显示图表。
        myChart_auto_chart_1.setOption(option);
        myChart_auto_chart_1.group = 'group1';
</script>