<div style="width:100%;height:270px; background-color:#fff">
    <div id="auto_chart_0" style="width: 100%; height: 270px; position: relative; background-color: #fff;"></div>
</div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        myChart_auto_chart_0 = echarts.init(document.getElementById('auto_chart_0'));

        // 指定图表的配置项和数据
        var option = {
    title : {
        text : '上游参数1',
    },
    tooltip : {
        trigger: 'axis',
        formatter : function (params) {
            if(params[0]==null){
                return (params.data[0].cast);
            }
			output = params[0].name + '<br/>';
			for(var i=0;i<params.length;i++){
	 			output += params[i].seriesName + " : " + params[i].value[1] + params[i].value[2] +'<br/>';
	 		}
			return output;
        }
    },
    dataZoom: {
        show: true,
        start : 0,
        orient : 'horizontal'
    },
    legend : {
        data : ['化学需氧量','氨氮','高锰酸盐指数','总磷','总氮','溶解氧','悬浮物',],
        top : 20 ,

    },
    xAxis : [
        {
            type : 'category',
            data : ['2015/01/17','2015/02/21','2015/03/14','2015/04/18','2015/05/16','2015/06/27','2015/07/18','2015/08/22','2015/09/19','2015/10/17','2015/11/21','2015/12/19','2016/01/16','2016/02/20','2016/03/19','2016/04/23',],

        },
    ],
    yAxis : [
        {
            type : 'value' ,
            name : ' ' ,
            axisLabel: {
            	formatter : '{value}mg/L'
            },

        },

    ],
    series : [{
            name: '化学需氧量',
            type: 'bar',
            data: [[0,25.84,'mg/L'],[1,29.02,'mg/L'],[2,26.39,'mg/L'],[3,20.06,'mg/L'],[4,23.55,'mg/L'],[5,28.11,'mg/L'],[6,21,'mg/L'],[7,25.68,'mg/L'],[8,23.7,'mg/L'],[9,29.24,'mg/L'],[10,23.75,'mg/L'],[11,21.63,'mg/L'],[12,25.63,'mg/L'],[13,22.61,'mg/L'],[14,29.26,'mg/L'],[15,20.32,'mg/L'],],
        },{
            name: '氨氮',
            type: 'bar',
            data: [[0,1.4,'mg/L'],[1,0.73,'mg/L'],[2,0.88,'mg/L'],[3,0.69,'mg/L'],[4,0.87,'mg/L'],[5,0.8,'mg/L'],[6,0.96,'mg/L'],[7,1.07,'mg/L'],[8,0.58,'mg/L'],[9,0.6,'mg/L'],[10,0.91,'mg/L'],[11,1.16,'mg/L'],[12,0.78,'mg/L'],[13,0.76,'mg/L'],[14,0.63,'mg/L'],[15,1.11,'mg/L'],],
        },{
            name: '高锰酸盐指数',
            type: 'bar',
            data: [[0,7.78,'mg/L'],[1,4.44,'mg/L'],[2,5.95,'mg/L'],[3,6.4,'mg/L'],[4,8.94,'mg/L'],[5,4.43,'mg/L'],[6,6.69,'mg/L'],[7,9.64,'mg/L'],[8,5.03,'mg/L'],[9,9.36,'mg/L'],[10,8.23,'mg/L'],[11,5.89,'mg/L'],[12,9.77,'mg/L'],[13,3.35,'mg/L'],[14,4.2,'mg/L'],[15,8.72,'mg/L'],],
        },{
            name: '总磷',
            type: 'bar',
            data: [[0,0.13,'mg/L'],[1,0.26,'mg/L'],[2,0.26,'mg/L'],[3,0.18,'mg/L'],[4,0.25,'mg/L'],[5,0.28,'mg/L'],[6,0.13,'mg/L'],[7,0.22,'mg/L'],[8,0.25,'mg/L'],[9,0.26,'mg/L'],[10,0.2,'mg/L'],[11,0.23,'mg/L'],[12,0.29,'mg/L'],[13,0.13,'mg/L'],[14,0.26,'mg/L'],[15,0.17,'mg/L'],],
        },{
            name: '总氮',
            type: 'bar',
            data: [[0,1.42,'mg/L'],[1,0.97,'mg/L'],[2,1.05,'mg/L'],[3,0.9,'mg/L'],[4,0.95,'mg/L'],[5,1.26,'mg/L'],[6,1.11,'mg/L'],[7,1.16,'mg/L'],[8,1.45,'mg/L'],[9,0.81,'mg/L'],[10,1.22,'mg/L'],[11,1.31,'mg/L'],[12,0.95,'mg/L'],[13,0.78,'mg/L'],[14,1.35,'mg/L'],[15,1.28,'mg/L'],],
        },{
            name: '溶解氧',
            type: 'bar',
            data: [[0,7.97,'mg/L'],[1,7.03,'mg/L'],[2,5.47,'mg/L'],[3,6.77,'mg/L'],[4,7.27,'mg/L'],[5,8.42,'mg/L'],[6,7.58,'mg/L'],[7,7.11,'mg/L'],[8,6.42,'mg/L'],[9,6.02,'mg/L'],[10,5.82,'mg/L'],[11,7.5,'mg/L'],[12,6.54,'mg/L'],[13,5.82,'mg/L'],[14,6.51,'mg/L'],[15,8.43,'mg/L'],],
        },{
            name: '悬浮物',
            type: 'bar',
            data: [[0,35.32,'mg/L'],[1,39.57,'mg/L'],[2,55.01,'mg/L'],[3,58.19,'mg/L'],[4,55.66,'mg/L'],[5,40,'mg/L'],[6,35.61,'mg/L'],[7,45.96,'mg/L'],[8,37.87,'mg/L'],[9,59.58,'mg/L'],[10,36.62,'mg/L'],[11,34.49,'mg/L'],[12,50.86,'mg/L'],[13,36.57,'mg/L'],[14,30.08,'mg/L'],[15,50.74,'mg/L'],],
        },]
};


        // 使用刚指定的配置项和数据显示图表。
        myChart_auto_chart_0.setOption(option);
        myChart_auto_chart_0.group = 'group1';
</script>