<div style="width:100%;height:270px; background-color:#fff">
    <div id="auto_chart_0" style="width: 100%; height: 270px; position: relative; background-color: #fff;"></div>
</div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        myChart_auto_chart_0 = echarts.init(document.getElementById('auto_chart_0'));

        // 指定图表的配置项和数据
        var option = {
    title : {
        text : ' ',
    },
    tooltip : {
        trigger: 'axis',
        formatter : function (params) {
            if(params[0]==null){
                return (params.data[0].cast);
            }
			output = params[0].name + '<br/>';
			for(var i=0;i<params.length;i++){
	 			output += params[i].seriesName + " : " + params[i].value[1] + params[i].value[2] +'<br/>';
	 		}
			return output;
        }
    },
    dataZoom: {
        show: true,
        start : 0,
        orient : 'horizontal'
    },
    legend : {
        data : ['污水处理量','冷却水','灌溉水','道路清洗','生态处理水量','污水再生利用率',],
        top : 20 ,

    },
    xAxis : [
        {
            type : 'category',
            data : ['2015/01/17','2015/02/21','2015/03/14','2015/04/18','2015/05/16','2015/06/27','2015/07/18','2015/08/22','2015/09/19','2015/10/17','2015/11/21','2015/12/19','2016/01/16','2016/02/20','2016/03/19','2016/04/23',],

        },
    ],
    yAxis : [
        {
            type : 'value' ,
            name : '水量(万m³)' ,
            axisLabel: {
            	formatter : '{value} '
            },

        },
        { type : 'value' ,
            name : '利用率(%)' ,
            max : 100,
            axisLabel: {
            	formatter : '{value}%'
            },
            },
    ],
    series : [{
            name: '污水处理量',
            type: 'bar',
            data: [[0,69354.7,'万m³'],[1,68719.3,'万m³'],[2,65406.9,'万m³'],[3,67774.9,'万m³'],[4,67286.3,'万m³'],[5,71878.4,'万m³'],[6,67261.6,'万m³'],[7,67405.5,'万m³'],[8,70893.4,'万m³'],[9,60882.6,'万m³'],[10,71677.8,'万m³'],[11,70960.5,'万m³'],[12,65209.5,'万m³'],[13,60332.3,'万m³'],[14,60566.9,'万m³'],[15,61706.5,'万m³'],],
        },{
            name: '冷却水',
            type: 'bar',
            data: [[0,572.9,'万m³'],[1,1168.1,'万m³'],[2,1585.4,'万m³'],[3,955.3,'万m³'],[4,1173.4,'万m³'],[5,1036.8,'万m³'],[6,1037.8,'万m³'],[7,953.3,'万m³'],[8,741.2,'万m³'],[9,491.5,'万m³'],[10,1084.3,'万m³'],[11,640.8,'万m³'],[12,623.2,'万m³'],[13,524.9,'万m³'],[14,882.5,'万m³'],[15,1060.8,'万m³'],],stack : 'water',
        },{
            name: '灌溉水',
            type: 'bar',
            data: [[0,3355.1,'万m³'],[1,3563.7,'万m³'],[2,4269.2,'万m³'],[3,2940.7,'万m³'],[4,4475.2,'万m³'],[5,3732,'万m³'],[6,4858,'万m³'],[7,3596.9,'万m³'],[8,2778.1,'万m³'],[9,4229.4,'万m³'],[10,3894.7,'万m³'],[11,3351.6,'万m³'],[12,3123.7,'万m³'],[13,2225.2,'万m³'],[14,4236.3,'万m³'],[15,5119.8,'万m³'],],stack : 'water',
        },{
            name: '道路清洗',
            type: 'bar',
            data: [[0,4557.2,'万m³'],[1,3893.5,'万m³'],[2,5564.4,'万m³'],[3,3724.1,'万m³'],[4,4669.3,'万m³'],[5,4920.8,'万m³'],[6,3876.4,'万m³'],[7,3542.4,'万m³'],[8,5066.4,'万m³'],[9,4574.6,'万m³'],[10,5689.1,'万m³'],[11,3383.1,'万m³'],[12,2805.4,'万m³'],[13,3415.2,'万m³'],[14,3450.1,'万m³'],[15,4118.8,'万m³'],],stack : 'water',
        },{
            name: '生态处理水量',
            type: 'bar',
            data: [[0,11686.3,'万m³'],[1,10033.9,'万m³'],[2,9005.7,'万m³'],[3,10983.2,'万m³'],[4,9825.3,'万m³'],[5,10404.4,'万m³'],[6,10209.1,'万m³'],[7,9016.7,'万m³'],[8,11733.3,'万m³'],[9,10408.4,'万m³'],[10,9583.9,'万m³'],[11,9517.5,'万m³'],[12,10259.2,'万m³'],[13,7849.9,'万m³'],[14,8798.4,'万m³'],[15,9172.7,'万m³'],],
        },{
            name: '污水再生利用率',
            type: 'line',
            data: [[0,29.08,'%'],[1,27.15,'%'],[2,31.23,'%'],[3,27.45,'%'],[4,29.94,'%'],[5,27.96,'%'],[6,29.71,'%'],[7,25.38,'%'],[8,28.66,'%'],[9,32.36,'%'],[10,28.25,'%'],[11,23.81,'%'],[12,25.78,'%'],[13,23.23,'%'],[14,28.67,'%'],[15,31.56,'%'],],yAxisIndex : 1,
        },]
};


        // 使用刚指定的配置项和数据显示图表。
        myChart_auto_chart_0.setOption(option);
        myChart_auto_chart_0.group = 'none_connect';
</script>